# BEGIN W3TC Browser Cache
<IfModule mod_deflate.c>
    <IfModule mod_headers.c>
        Header append Vary User-Agent env=!dont-vary
    </IfModule>
        AddOutputFilterByType DEFLATE text/css text/x-component application/x-javascript application/javascript text/javascript text/x-js text/html text/richtext image/svg+xml text/plain text/xsd text/xsl text/xml image/x-icon application/json
    <IfModule mod_mime.c>
        # DEFLATE by extension
        AddOutputFilter DEFLATE js css htm html xml
    </IfModule>
</IfModule>
# END W3TC Browser Cache
# BEGIN WordPress

# END WordPress

AddOutputFilterByType DEFLATE text/html text/plain application/javascript text/css

RewriteEngine On
RewriteRule ^/?post/(.*)$ /blog/post/$1 [L,R=301]
RewriteRule ^/?blog/feed$ /blog/feed.xml [L,R=301]
RewriteRule ^/?blog/archive$ /blog/archive.html [L,R=301]