---
layout: default
---
<div class="post">

  <div id="content" class="group">

    <header class="post-header">
      <h2 class="post-title"><a href="{{ post.url }}">{{ page.title }}</a></h2>
    </header>

    <div class="main">
      {{ content }}
    </div>
    <br/>

    <div class="navigation group">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
  </div>
</div>
