---
layout: default
---
<div class="post">

  <div id="content" class="group">

    <header class="post-header">
      <h2 class="post-title"><a href="{{ post.url }}">{{ page.title }}</a></h2>
    </header>

    <div class="main">
      {{ content }}
    </div>
    <br/>

    <div class="navigation group"></div>

    <form class="newsletter-subscription" action="https://tinyletter.com/maryrosecook" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/maryrosecook', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
      <label for="tlemail">Hear about my latest work</label>
      <input type="email" placeholder="you@example.com" style="width:140px" name="email" id="tlemail" />
      <input type="hidden" value="1" name="embed"/>
      <button>Submit</button>
    </form>

  </div>
</div>
